html,
body,
.wrapper {
  height: 100%;
  color: #434c56;
}
body {
  background: #f1f4f7;
  min-width: 1140px;
  padding-top: 50px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  background: #283038;
  box-shadow: 0 0 10px #283038;
}
.header .wrapper {
  background: none;
  overflow: visible;
}
.header .wrapper .logo img {
  vertical-align: middle;
}
.header .wrapper .search {
  position: relative;
  margin-left: 100px;
}
.header .wrapper .search input {
  width: 240px;
  background: #121314;
  border: none;
  color: #f1f4f7;
}
.header .wrapper .search input:focus {
  background: #fff;
  color: #434c56;
}
.header .wrapper .search i {
  position: absolute;
  right: 8px;
  top: 1px;
  color: #8995a1;
  font-weight: bold;
}
.header .wrapper .search input:focus + i {
  color: #434c56;
}
.wrapper {
  width: 1140px;
  height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  background: #fff;
}
.wrapper .nav {
  position: fixed;
  width: 220px;
  height: 100%;
  top: 0;
  padding: 70px 0 20px 0;
  overflow-y: auto;
  border-right: 1px solid #dde3e9;
  background: #fff;
  z-index: 10;
}
.wrapper .nav dl {
  padding-bottom: 15px;
  color: #283038;
}
.wrapper .nav dt,
.wrapper .nav dd a {
  display: block;
}
.wrapper .nav dt {
  padding-left: 25px;
  background: #f5f8fb;
  border-left: 3px solid #5be;
  margin-bottom: 15px;
  line-height: 40px;
  font-size: 16px;
}
.wrapper .nav dd a {
  padding-left: 30px;
  line-height: 34px;
}
.wrapper .nav dd a i {
  font-style: normal;
  margin-left: 10px;
  color: #c4cbd3;
}
.wrapper .nav dd a:hover,
.wrapper .nav dd a.on {
  color: #5be;
}
.wrapper .main {
  position: relative;
  margin-left: 220px;
  padding: 20px;
  background: #fff;
}
.wrapper .main .main-title {
  color: #434c56;
  font-size: 22px;
  padding: 0 15px;
}
.wrapper .main .main-info {
  background: #f5f8fb;
  padding: 10px;
  border: 1px solid #dde3e9;
  border-radius: 4px;
  line-height: 24px;
  margin: 20px auto;
  color: #434c56;
}
.wrapper .main .main-info span {
  margin: 0 10px;
  color: #283038;
}
.wrapper .main .main-info a {
  color: #8995a1;
  border-bottom: 1px solid #8995a1;
}
.wrapper .main .main-info a:hover {
  color: #6cf;
  border-bottom: 1px solid #6cf;
}
.wrapper .main h6 {
  margin: 30px auto 20px;
  font-size: 18px;
}
.iconpage td {
  width: 20%;
  line-height: 24px;
}
.iconpage i {
  font-size: 24px;
}
.iconpage span {
  display: block;
  color: #8995a1;
}
.iconpage td:hover span {
  color: #6cf;
}
.colorpage {
  line-height: 24px;
}
.colorpage div + div {
  padding-left: 10px;
}
.colorpage div {
  padding: 10px 0;
  border-radius: 4px;
}
.btnpage .zui-table {
  margin-top: 15px;
}
.btnpage .zui-table .con {
  width: 80%;
}
.btnpage .zui-table .con span {
  margin-right: 15px;
}
