@import url('../iconfont/iconfont.css');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  color: #333;
  background: #fff;
  line-height: 1;
  font-size: 14px;
  font-family: 'Arial', 'Microsoft YaHei';
}
:focus {
  outline: none;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  font-weight: normal;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a img,
img,
button {
  border: 0;
}
a,
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: #333;
}
blockquote,
q {
  quotes: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}
b,
i,
em,
ins,
strong,
small,
big {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}
.zui-btn,
.zui-ipt,
.zui-radio {
  -webkit-appearance: none;
}
select,
input,
button {
  vertical-align: middle;
}
button,
select {
  cursor: pointer;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track-piece {
  background: #ddd;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  height: 7px;
  background: #999;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
::selection {
  color: #fff;
  background: #77DDFF;
}
.index-1 {
  z-index: -1;
}
.index1 {
  z-index: 1;
}
.index2 {
  z-index: 2;
}
.index3 {
  z-index: 3;
}
.index4 {
  z-index: 4;
}
.index5 {
  z-index: 5;
}
.index10 {
  z-index: 10;
}
.index20 {
  z-index: 20;
}
.index30 {
  z-index: 30;
}
.index100 {
  z-index: 100;
}
.index200 {
  z-index: 200;
}
.index300 {
  z-index: 300;
}
.zui-float-left,
[zui^="pull-left"],
[zui*=",pull-left"] {
  float: left !important;
}
.zui-float-right,
[zui^="pull-right"],
[zui*=",pull-right"] {
  float: right !important;
}
.zui-txt-left,
[zui^="txt-left"],
[zui*=",txt-left"] {
  text-align: left !important;
}
.zui-txt-center,
[zui^="txt-center"],
[zui*=",txt-center"] {
  text-align: center !important;
}
.zui-txt-right,
[zui^="txt-right"],
[zui*=",txt-right"] {
  text-align: right !important;
}
.zui-clearfix {
  display: block;
  clear: both;
}
.zui-clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.zui-ani-no,
[zui^="anim-no"],
[zui*=",anim-no"] {
  transition: all 0s;
}
.zui-ani-fast,
[zui^="anim-fast"],
[zui*=",anim-fast"] {
  transition: all 0.2s;
}
.zui-ani-normal,
[zui^="anim-normal"],
[zui*=",anim-normal"] {
  transition: all 0.4s;
}
.zui-ani-slow,
[zui^="anim-slow"],
[zui*=",anim-slow"] {
  transition: all 0.8s;
}
.zui-h1 {
  font-size: 40px;
  line-height: 50px;
}
.zui-h2 {
  font-size: 36px;
  line-height: 44px;
}
.zui-h3 {
  font-size: 32px;
  line-height: 38px;
}
.zui-h4 {
  font-size: 28px;
  line-height: 32px;
}
.zui-h5 {
  font-size: 24px;
  line-height: 26px;
}
.zui-h6 {
  font-size: 20px;
  line-height: 20px;
}
.zui-btn {
  display: inline-block;
  border-radius: 4px;
  text-align: center !important;
  white-space: nowrap;
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}
.zui-btn:hover {
  color: #66CCFF;
  border-color: #66CCFF;
}
.zui-btn:active {
  color: #55BBEE;
  border-color: #55BBEE;
}
.zui-btn[zui^="blue"],
.zui-btn[zui^="green"],
.zui-btn[zui^="yellow"],
.zui-btn[zui^="red"],
.zui-btn[zui*=",blue"],
.zui-btn[zui*=",green"],
.zui-btn[zui*=",yellow"],
.zui-btn[zui*=",red"] {
  border: none;
}
.zui-bg-blue,
[zui^="blue"],
[zui*=",blue"] {
  background: #66CCFF;
}
.zui-btn[zui^=blue]:hover,
.zui-btn[zui*=",blue"]:hover {
  background: #77DDFF;
}
.zui-btn[zui^=blue]:active,
.zui-btn[zui*=",blue"]:active {
  background: #55BBEE;
}
.zui-bg-green,
[zui^="green"],
[zui*=",green"] {
  background: #66CC99;
}
.zui-btn[zui^="green"]:hover,
.zui-btn[zui*=",green"]:hover {
  background: #77DDAA;
}
.zui-btn[zui^="green"]:active,
.zui-btn[zui*=",green"]:active {
  background: #55BB88;
}
.zui-bg-yellow,
[zui^="yellow"],
[zui*=",yellow"] {
  background: #FF9900;
}
.zui-btn[zui^="yellow"]:hover,
.zui-btn[zui*=",yellow"]:hover {
  background: #FFAA11;
}
.zui-btn[zui^="yellow"]:active,
.zui-btn[zui*=",yellow"]:active {
  background: #EE8800;
}
.zui-bg-red,
[zui^="red"],
[zui*=",red"] {
  background: #FF6666;
}
.zui-btn[zui^="red"]:hover,
.zui-btn[zui*=",red"]:hover {
  background: #FF7777;
}
.zui-btn[zui^="red"]:active,
.zui-btn[zui*=",red"]:active {
  background: #EE5555;
}
.zui-ipt[disabled],
.zui-btn[disabled] {
  cursor: not-allowed;
  border: 1px solid #ddd;
  background: #f5f5f5;
}
.zui-btn[disabled]:hover,
.zui-btn[disabled]:active {
  color: #333;
  border: 1px solid #ddd;
}
.zui-bg-blue,
.zui-bg-green,
.zui-bg-yellow,
.zui-bg-red,
[zui^="blue"],
[zui*=",blue"],
[zui^="green"],
[zui*=",green"],
[zui^="yellow"],
[zui*=",yellow"],
[zui^="red"],
[zui*=",red"] {
  color: #fff !important;
}
.zui-ipt {
  padding: 0;
  text-indent: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #333;
}
.zui-size-sm,
[zui^="sm"],
[zui*=",sm"] {
  padding: 0 10px;
  height: 28px;
  line-height: 26px;
  font-size: 12px;
}
.zui-size-md,
[zui^="md"],
[zui*=",md"] {
  padding: 0 15px;
  height: 38px;
  line-height: 36px;
  font-size: 14px;
}
.zui-size-lg,
[zui^="lg"],
[zui*=",lg"] {
  padding: 0 30px;
  height: 44px;
  line-height: 42px;
  font-size: 16px;
}
.zui-radius,
[zui^="radius"],
[zui*=",radius"] {
  border-radius: 300px;
}
.zui-btn + .zui-btn,
.zui-ipt + .zui-btn,
.zui-ipt + .zui-ipt,
.zui-radio-label + .zui-radio-label,
.zui-checkbox-label + .zui-checkbox-label {
  margin-left: 10px;
}
.zui-select {
  display: inline-block;
  position: relative;
}
.zui-select .zui-ipt {
  cursor: pointer;
}
.zui-select .zui-option-list {
  background: #fff;
  box-shadow: 0 0 7px #ddd;
  border: 1px solid #ddd;
  border-radius: 4px;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 0;
  max-height: 300px;
  overflow-y: auto;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: translateY(25px);
}
.zui-select .zui-option-list li {
  padding: 0 10px;
  cursor: pointer;
}
.zui-select .zui-option-list li:hover {
  background: #f5f5f5;
}
.zui-select .zui-option-list .zui-option,
.zui-select .zui-option-list .zui-option:hover {
  background: #66CCFF;
  color: #fff !important;
}
.zui-select .zui-size-sm + i + .zui-option-list,
.zui-select input[zui-size=small] + i + .zui-option-list {
  top: 33px;
  line-height: 30px;
  font-size: 12px;
}
.zui-select .zui-size-md + i + .zui-option-list,
.zui-select input[zui-size=medium] + i + .zui-option-list {
  top: 40px;
  line-height: 40px;
  font-size: 14px;
}
.zui-select .zui-size-lg + i + .zui-option-list,
.zui-select input[zui-size=big] + i + .zui-option-list {
  top: 47px;
  line-height: 44px;
  font-size: 14px;
}
.zui-select .zui-select-arrow {
  content: '';
  transition: all 0.2s;
  position: absolute;
  right: 10px;
  border-top: 6px solid #999;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.zui-select .zui-size-sm + .zui-select-arrow,
.zui-select input[zui-size=small] + .zui-select-arrow {
  top: 11px;
}
.zui-select .zui-size-md + .zui-select-arrow,
.zui-select input[zui-size=medium] + .zui-select-arrow {
  top: 15px;
}
.zui-select .zui-size-lg + .zui-select-arrow,
.zui-select input[zui-size=big] + .zui-select-arrow {
  top: 18px;
  border-width: 8px;
}
.zui-select.zui-select-open .zui-option-list {
  transition: all 0.2s;
  height: auto;
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
}
.zui-select.zui-select-open .zui-select-arrow {
  transform: rotate(180deg);
}
.zui-radio,
.zui-checkbox {
  display: inline-block;
}
.zui-radio .zui-radio-label,
.zui-checkbox .zui-radio-label,
.zui-radio .zui-checkbox-label,
.zui-checkbox .zui-checkbox-label {
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
}
.zui-radio .zui-radio-input,
.zui-checkbox .zui-radio-input,
.zui-radio .zui-checkbox-input,
.zui-checkbox .zui-checkbox-input {
  display: none;
}
.zui-radio .zui-icon-radio,
.zui-checkbox .zui-icon-radio,
.zui-radio .zui-icon-checkbox,
.zui-checkbox .zui-icon-checkbox {
  color: #999;
  vertical-align: top;
}
.zui-radio .zui-radio-input + .zui-icon-radio:before,
.zui-checkbox .zui-radio-input + .zui-icon-radio:before {
  content: "\e60b";
}
.zui-radio .zui-radio-input:checked + .zui-icon-radio:before,
.zui-checkbox .zui-radio-input:checked + .zui-icon-radio:before {
  content: "\e62a";
  color: #66CCFF;
}
.zui-radio .zui-checkbox-input + .zui-icon-checkbox:before,
.zui-checkbox .zui-checkbox-input + .zui-icon-checkbox:before {
  content: "\e6e4";
}
.zui-radio .zui-checkbox-input:checked + .zui-icon-checkbox:before,
.zui-checkbox .zui-checkbox-input:checked + .zui-icon-checkbox:before {
  content: "\e6e5";
  color: #66CCFF;
}
.zui-switch {
  display: inline-block;
  vertical-align: middle;
}
.zui-switch .zui-switch-label {
  cursor: pointer;
  user-select: none;
}
.zui-switch .zui-switch-label .zui-switch-input {
  display: none;
}
.zui-switch .zui-switch-label .zui-switch-view {
  transition: all 0.2s;
  position: relative;
  display: block;
  width: 60px;
  height: 24px;
  line-height: 22px;
  border-radius: 300px;
  border: 1px solid #ddd;
  background: #fff;
}
.zui-switch .zui-switch-label .zui-switch-view .zui-icon-switch {
  transition: all 0.2s;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 18px;
  height: 18px;
  background: #ddd;
  border-radius: 300px;
}
.zui-switch .zui-switch-label .zui-switch-view .zui-switch-info {
  display: block;
  text-align: right;
  padding: 0 5px;
}
.zui-switch .zui-switch-label .zui-switch-input:checked + .zui-switch-view {
  background: #66CCFF;
  border-color: #77DDFF;
}
.zui-switch .zui-switch-label .zui-switch-input:checked + .zui-switch-view .zui-icon-switch {
  left: 38px;
  background: #fff;
}
.zui-switch .zui-switch-label .zui-switch-input:checked + .zui-switch-view .zui-switch-info {
  text-align: left;
  color: #fff;
}
.zui-textarea {
  min-width: 300px;
  min-height: 100px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  resize: vertical;
}
.zui-layer-prompt {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.2s;
  opacity: 0;
}
.zui-layer-shade {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  user-select: none;
  background: #333;
  transition: all 0.2s;
  opacity: 0;
}
.zui-layer-shade.on {
  opacity: 0.3;
}
.zui-layer-main {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 4px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: 300;
}
.zui-layer-main .zui-layer-main-title {
  padding: 0 10px;
  position: relative;
  line-height: 34px;
  font-size: 14px;
}
.zui-layer-main .zui-layer-main-title .zui-layer-main-close {
  position: absolute;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
}
.zui-layer-main .zui-layer-main-title .zui-layer-main-close:hover {
  transform: rotate(90deg);
}
.zui-layer-main .zui-layer-main-info {
  background: #fff;
  padding: 10px;
  min-height: 80px;
}
.zui-layer-main .zui-layer-btn {
  padding: 10px;
  background: #fff;
}
.zui-layer-main.on,
.zui-layer-prompt.on {
  top: 40%;
  opacity: 1;
}
.zui-layer-message {
  width: 300px;
  height: 90px;
  position: fixed;
  top: 10px;
  right: -350px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 10px rgba(50, 50, 50, 0.2);
  overflow: hidden;
  transition: all 0.2s;
}
.zui-layer-message .zui-layer-message-type {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  padding: 5px;
  display: flex;
  text-align: center;
  align-items: center;
}
.zui-layer-message .zui-layer-message-type em {
  font-size: 14px;
  line-height: 16px;
}
.zui-layer-message .zui-layer-message-title,
.zui-layer-message .zui-layer-message-info {
  display: block;
  padding: 0 10px 0 40px;
}
.zui-layer-message .zui-layer-message-title {
  font-size: 16px;
  line-height: 40px;
}
.zui-layer-message .zui-layer-message-info {
  font-size: 14px;
  line-height: 20px;
  color: #999;
}
.zui-layer-message.on {
  right: 10px;
}
.zui-table {
  width: 100%;
  text-align: left;
  background: #fff;
  border: 1px solid #ddd;
}
.zui-table thead {
  background: #f0f0f0;
}
.zui-table tbody tr:hover {
  background: #fafafa;
}
.zui-table td,
.zui-table th {
  padding: 10px 10px;
  white-space: nowrap;
  line-height: 20px;
  vertical-align: middle;
  border: 1px solid #ddd;
}
.zui-table[zui-style=line] td,
.zui-table[zui-style=line] th {
  border-left: none;
  border-right: none;
}
.zui-table[zui-style=nobor] td,
.zui-table[zui-style=nobor] th {
  border: none;
}
.zui-list {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.zui-list li {
  padding: 10px;
  line-height: 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.zui-list li:last-child {
  border: none;
}
.zui-list[zui-style=arrow-right] ::before,
.zui-list[zui-style=arrow-left] ::before {
  content: "\e600";
  font-family: "iconfont" !important;
  font-size: 14px;
  position: absolute;
  color: #999;
}
.zui-list[zui-style=arrow-right] li:before {
  right: 5px;
}
.zui-list[zui-style=arrow-left] li {
  padding-left: 22px;
}
.zui-list[zui-style=arrow-left] li:before {
  left: 5px;
}
